{% extends "base.html" %}

{# Note how we're importing the wagtailimages_tags library here #}
{% load wagtailcore_tags wagtailimages_tags %} 

{% block body_class %}template-blogpage{% endblock %}

{% block content %}
    <h1>{{ page.title }}</h1>
    <p class="meta">{{ page.date }}</p>

    <div class="intro">{{ page.intro }}</div>

    {{ page.body|richtext }}

    {% for item in page.gallery_images.all %}
        <div style="float: left; margin: 10px">

            {# The fill-320x240 resizes and crops the image to fill a 320x240 rectangle #}
            {% image item.image fill-320x240 %}
            <p>{{ item.caption }}</p>
        </div>
    {% endfor %}

    {% if page.tags.all.count %}
        <div class="tags">
            <h3>Tags</h3>
            {% for tag in page.tags.all %}
                <a href="{% slugurl 'cats' %}?tag={{ tag }}"><button type="button">{{ tag }}</button></a> <!-- The slugurl works like a pageurl, but the slugurl takes a Page slug from the Promote tab as an argument. -->
            {% endfor %}
        </div>
    {% endif %}

    {# The "get_parent.url" is the parent url to this child page --> which is the blog_index_page.html #}
    <p><a href="{{ page.get_parent.url }}">Return to blog</a></p>
{% endblock %}